* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: none;
}

body {
    display: flex;
    flex-direction: row;
    height: 100vh;
    background-color: #f3f3f3;
    font-family: 'Roboto Slab', serif;
}

h1,
h2,
h3 {
    font-family: 'Ruda', sans-serif;
}

.logo-section {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
    min-width: 33%;
    height: 100%;
    padding: 20% 15px 10px 15px;
    background: url("./images/logo-bg.jpg")  #fc7a1e;
    background-size: cover;
    background-position: -300px;
    background-blend-mode: multiply;
    border-right: 5px solid yellow;
    box-shadow: 2px 0px 5px rgba(0,0,0,.2);
    color: #ffffff;
}

.logo-section h1 {
    margin: 5px;
    font-size: 2rem;
}

.logo {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.logo img {
    width: 80px;
}

.logo h1 {
    font-size: 3rem;
}

#attribution {
    display: block;
    align-self: flex-end;
}

#attribution a {
    color: #ffffff;
    font-size: .7rem;
}

.form-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    padding: 15%;
    color:#323848;
}

.cta {
    display: flex;
    flex-direction: column;
}

.cta h2 {
    padding: 5px 20px;
    font-size: 2rem;
    color: #323848;
    border-bottom: 5px solid yellow;
    background: url("./images/logo-bg.jpg");
    background-size: 1000px;
    background-blend-mode:hue;
    background-color: #fff;
    border-radius: 5px;
}

.cta p {
    color: #56617d;
    background-color: #ffffff;
    padding: 10px 20px;  
}

/* form styles */
.sign-up-form {
    padding: 20px;
    background-color: #ffffff;
    border-radius: 0px 0px 10px 10px;
}

.form-row {
    margin-bottom: 20px;
    position: relative;
}

.form-row input {
    display: block;
    width: 100%;
    font-size: 1rem;
    margin-top: 2px;
    padding: 8px;
    border: 2px solid #323848;
    border-radius: 3px;
    color:#323848;
    transition: all .5s ease;
}

.form-row:last-child {
    margin: 0;
}

.form-row input:focus {
    outline: none;
    border: 2px solid #fc7a1e;
}

.form-row input::placeholder {
    color: #ffffff;
}

.form-row input:focus::placeholder {
    color: #71788c;
}

.form-row label {
    line-height: 15px;
    padding: 0 5px;
    border-radius: 10px;
    position: absolute;
    bottom: 12px;
    left: 5px;
    font-size: .9rem;
    color: #71788c;
    background-color: #ffffff;
    transition: all .25s ease;
}

.form-row input:focus ~ label,
.form-row input:not(:placeholder-shown) ~ label {
    bottom: 32px;
    font-size: .75rem;
    color: #fc7a1e;
}

#confirm-password.invalid {
    border-color: rgba(255, 25, 0, 0.869);
}

/* Checkbox Styles */
.form-row.checkbox{
    display: flex;
    padding: 0 0 0 1px;
}

.form-row.checkbox input {
    width: auto;
    accent-color:#2685E3;
    
}

.form-row.checkbox input ~ label {
    position: static;
    display: block;
    padding: 2px 5px 0 5px;
    border-radius: 0;
    font-size: .8rem;
    color: #71788c;
    background-color: #ffffff;
} 

#show-password {
    font-size: .75rem;
    color: #2685E3;
}

.submit-button {
    margin: 10px 0px;
    padding: 10px 40px;
    border-radius: 5px;
    background-color: #fc7a1e;
    font-family: 'Ruda', sans-serif;
    font-weight: bold;
    font-size: 1rem;
    color: #ffffff;
}

#sign-in {
    font-size: .85rem;
}

#sign-in span {
    color: #2685E3;
}

/* testing */


@media screen and (max-width: 680px ){
    body {
        flex-direction: column;
    }

    .logo-section {
        width: 100%;
        height: auto;
        padding: 20px;
        border-radius: 0;
        background-size: 200%;
        background-position: 0;
    }

    .form-section {
        justify-content: flex-start;
        padding: 20px 15%;
        font-size: .9rem;
    }

    .form-row input,
    .form-row label {
        font-size: .9rem;
    }
}