* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: none;
}

body {
    display: flex;
    flex-direction: row;
    height: 100vh;
    background-color: #f3f3f3;
    border-top: 5px solid #ffff00;
    font-family: 'Roboto Slab', serif;
}

h1,
h2,
h3 {
    font-family: 'Ruda', sans-serif;
}

.logo-section {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
    min-width: 33%;
    height: 100%;
    padding: 20% 15px 10px 15px;
    border-radius: 0 20px 20px 0;
    background: url("./images/logo-bg.jpg")  #fc7a1e;
    background-size: cover;
    background-position: -300px;
    background-blend-mode: multiply;
    box-shadow: 2px 0px 5px rgba(0,0,0,.2);
    color: #ffffff;
}

.logo-section h1 {
    margin: 5px;
    font-size: 2rem;
}

.logo {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.logo img {
    width: 60px;
}

#attribution {
    display: block;
    align-self: flex-end;
}

#attribution a {
    color: #ffffff;
    font-size: .7rem;
}

.form-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    padding: 15%;
    color:#323848;
}

.cta {
    display: flex;
    flex-direction: column;
    padding: 10px 6px;
}

.cta h2 {
    font-size: 2rem;
    color: #323848;
}

.cta p {
    color: #56617d;  
}

.cta h2,
.cta p {
    margin-bottom: 10px;
}

.sign-up-form {
    padding: 20px;
    background-color: #ffffff;
    border-radius: 10px;
}

.form-row {
    margin-bottom: 20px;
    position: relative;
}

.form-row input {
    display: block;
    width: 100%;
    font-size: 1rem;
    margin-top: 2px;
    padding: 8px;
    border: 2px solid #323848;
    border-radius: 3px;
    transition: all .5s ease;
}

.form-row input:focus {
    outline: none;
    border: 2px solid #fc7a1e;
}

.form-row label {
    padding: 0 5px;
    border-radius: 10px;
    position: absolute;
    top: 10px;
    left: 5px;
    font-size: .9rem;
    color: #71788c;
    background-color: #ffffff;
    transition: all .25s ease;
}

.form-row input:focus ~ label,
.form-row input:not(:placeholder-shown) ~ label {
    top: -10px;
    font-size: .75rem;
    color: #fc7a1e;
}


#show-password {
    font-size: .75rem;
    color: #2685E3;
}

.submit-button {
    margin: 10px 0px;
    padding: 10px 40px;
    border-radius: 5px;
    background-color: #fc7a1e;
    font-family: 'Roboto Slab', sans-serif;
    font-size: 1rem;
    color: #ffffff;
}

#sign-in {
    color: #2685E3;
}

@media screen and (max-width: 680px ){
    body {
        flex-direction: column;
    }

    .logo-section {
        width: 100%;
        height: auto;
        padding: 20px;
        border-radius: 0;
        background-size: 200%;
        background-position: 0;
    }

    .form-section {
        justify-content: flex-start;
        padding: 20px 15%;
        font-size: .9rem;
    }

    .form-row input,
    .form-row label {
        font-size: .9rem;
    }
}