* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    display: flex;
    flex-direction: row;
    background-color: #f3f3f3;
}

.logo-section {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;

    min-width: 33%;
    height: 100%;
    padding: 30% 15px 10px 15px;

    border-radius: 0 20px 20px 0;

    background-color: #d3d3d3;
}

.logo-section h1 {
    font-size: 2rem;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin: 5px;
}

.logo {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.form-section {
    display: flex;
    flex-direction: column;
    justify-content: center;

    /* max-width: 60%; */
    height: 100%;
    padding: 15%;
}

.cta {
    display: flex;
    flex-direction: column;
}

.cta h2 {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1.5rem;
}

.cta h2,
.cta p {
    margin-bottom: 10px;
}

.form-row {
    margin-bottom: 10px;
}

.form-row input,
.form-row label {
    display: block;
    width: 100%;
}

@media screen and (max-width: 680px ){
    body {
        flex-direction: column;
    }

    .logo-section {
        width: 100%;
        height: auto;
        padding: 20px;

        border-radius: 0 0 20px 20px;
    }

    .form-section {
        justify-content: flex-start;
        padding: 15%;
    }
}